@font-face {
  font-family: "iconfont"; /* Project id 4384673 */
  src: url('https://at.alicdn.com/t/c/font_4384673_fhf6hx32lib.woff2?t=1703471744400') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4384673_fhf6hx32lib.woff?t=1703471744400') format('woff'),
       url('https://at.alicdn.com/t/c/font_4384673_fhf6hx32lib.ttf?t=1703471744400') format('truetype'),
       url('https://at.alicdn.com/t/c/font_4384673_fhf6hx32lib.svg?t=1703471744400#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kmg-yongshuijiance:before {
  content: "\e70f";
}

.kmg-FOBtance:before {
  content: "\e6fe";
}

.kmg-renyuanguanli:before {
  content: "\e6ff";
}

.kmg-shipinjiankong:before {
  content: "\e700";
}

.kmg-renyuandingwei:before {
  content: "\e701";
}

.kmg-cheliangjinchuchang:before {
  content: "\e702";
}

.kmg-diaolanjiance:before {
  content: "\e703";
}

.kmg-yinhuanzhenggai:before {
  content: "\e704";
}

.kmg-shengjiangji:before {
  content: "\e705";
}

.kmg-gaozhimo:before {
  content: "\e706";
}

.kmg-suishoupai:before {
  content: "\e707";
}

.kmg-wuliaoguanli:before {
  content: "\e708";
}

.kmg-waiqiangjiaoshoujia:before {
  content: "\e709";
}

.kmg-cheliangdingwei:before {
  content: "\e70a";
}

.kmg-huanjingjiance:before {
  content: "\e70b";
}

.kmg-yidongxunjian:before {
  content: "\e70c";
}

.kmg-shenjikeng:before {
  content: "\e70d";
}

.kmg-anquanjiancha:before {
  content: "\e70e";
}

.kmg-cheliangchongxi:before {
  content: "\e6fa";
}

.kmg-xieliaopingtai:before {
  content: "\e6fb";
}

.kmg-dianziweilan:before {
  content: "\e6fc";
}

.kmg-yongdianjiance:before {
  content: "\e6fd";
}

.kmg-shigongmingpai:before {
  content: "\e6f9";
}

.kmg-dingwei:before {
  content: "\e6f3";
}

.kmg-xialaxuanze:before {
  content: "\e6f4";
}

.kmg-fanhui:before {
  content: "\e6f5";
}

.kmg-biaotibiaoshi:before {
  content: "\e6f6";
}

.kmg-dashujufenxi:before {
  content: "\e6f2";
}

.kmg-yujingzhongxin:before {
  content: "\e6f7";
}

.kmg-xiaoxi:before {
  content: "\e6f8";
}

